meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{title}

if mode === 'production'
	meta(name="theme-color" content="#fff")

	//
		link(rel="apple-touch-icon" sizes="180x180" href=require('../img/favicon/apple-touch-icon.png'))
		link(rel="icon" type="image/png" sizes="32x32" href=require('../img/favicon/favicon-32x32.png'))
		link(rel="icon" type="image/png" sizes="16x16" href=require('../img/favicon/favicon-16x16.png'))
		link(rel="manifest" href=require('../img/favicon/site.webmanifest'))
		link(rel="mask-icon" href=require('../img/favicon/safari-pinned-tab.svg') color="#5bbad5")
		link(rel="shortcut icon" href=require('../img/favicon/favicon.ico'))