section.home-section.story
    picture.story__title-image( data-home-section-parallax )
        source( srcset=require('../../img/image-titles/image-title-story-lg.webp'), media="(min-width: 1024px)" type='image/webp' )
        source( srcset=require('../../img/image-titles/image-title-story-lg.png') media="(min-width: 1024px)" )
        source( srcset=require('../../img/image-titles/image-title-story-xs.webp'), type='image/webp' )
        img( src=require('../../img/image-titles/image-title-story-xs.png') alt="" width="365px" height="131px" )

    picture
        source( srcset=require('../../img/section-story-bg.webp'), type='image/webp' )
        img.story__image.my-paroller( src=require('../../img/section-story-bg.jpg') alt="" width="750px" height="1300px" loading="lazy" )

    .container
        .home-section__inner.story__inner
            h2.home-section__title.story__title Моя история
            p.home-section__desc.story__desc.

                Привет, я Филонова Дарья основатель проекта Feell Design. <br/>

                И вот моя история - <br/>

                Мое детство прошло на море, среди природы. Это во многом сформировало личные ценности цели и мечты. <br/>

                Искусство и дизайн - так же стали неотъемлемыми  элементами моей жизни. <br/>

                В основе всего этого - любовь к эстетике и преобразованию мира. <br/>

                Я верю в дизайн и отвергаю культуру потребления.
                Ведь если вещь превосходна с эстетической и технологической стороны нет
                никакой надобности менять ее на новую каждый год подкидывая дров в огонь
                глобального потепления. Человек будущего - живет в гармоничной среде, где
                природа и инновации дополняют друг друга, а дизайн создает комфортные
                пространства, каждое из которых подобно произведению искусства. <br/>

                <br/>

                Моя миссия - Совершенствовать твой мир по средствам текстур и деталей.
                Взаимодействовать с природой на новом уровне, восстанавливая красоту что
                была подарена нам землей. Творить дизайн во имя всеобщего счастья.