extends layout/default

block title
    title Feel Design - Cases

block content
    main.page-cases
        .container
            h1.page-title.page-cases__title Портфолио

        picture.page-cases__image
            source( srcset=require('../img/image-titles/image-title-cases-lg.webp'), media="(min-width: 1024px)" type='image/webp' )
            source( srcset=require('../img/image-titles/image-title-cases-lg.png') media="(min-width: 1024px)" )
            source( srcset=require('../img/image-titles/image-title-cases-xs.webp'), type='image/webp' )
            img( src=require('../img/image-titles/image-title-cases-xs.png') alt="" width="458px" height="112px" )

        section.cases
            .container
                .cases__inner

                    article.cases__case.case
                        .case__inner
                            a(href=route('case')).case__image
                                picture
                                    source( srcset=require('../img/cases/cases-case-1.webp'), type='image/webp' )
                                    img( src=require('../img/cases/cases-case-1.png') alt="RIVERA VILLAGE" width="414px" height="234px" loading="lazy" )

                            .case__content
                                h4.case__name
                                    a(href=route('case')) RIVERA VILLAGE
                                span.case__line
                                p.case__desc В основе всего этого - любовь к эстетике и преобразованию мира. Я верю в дизайн и отвергаю  культуру потребления.
                                .case__arrow-wrapper
                                    a(href=route('case') aria-label="Go to case inner page" ).case__arrow.btn-arrow
                                        i.icon-arrow-right

                    article.cases__case.case.case_revert
                        .case__inner
                            a(href=route('case')).case__image
                                picture
                                    source( srcset=require('../img/cases/cases-case-1.webp'), type='image/webp' )
                                    img( src=require('../img/cases/cases-case-2.png') alt="RIVERA VILLAGE" width="414px" height="234px" loading="lazy" )

                            .case__content
                                h4.case__name
                                    a(href=route('case')) RIVERA VILLAGE
                                span.case__line
                                p.case__desc В основе всего этого - любовь к эстетике и преобразованию мира. Я верю в дизайн и отвергаю  культуру потребления.
                                .case__arrow-wrapper
                                    a(href=route('case') aria-label="Go to case inner page" ).case__arrow.btn-arrow
                                        i.icon-arrow-right


                    article.cases__case.case
                        .case__inner
                            a(href=route('case')).case__image
                                picture
                                    source( srcset=require('../img/cases/cases-case-1.webp'), type='image/webp' )
                                    img( src=require('../img/cases/cases-case-3.png') alt="RIVERA VILLAGE" width="414px" height="234px" loading="lazy" )

                            .case__content
                                h4.case__name
                                    a(href=route('case')) RIVERA VILLAGE
                                span.case__line
                                p.case__desc В основе всего этого - любовь к эстетике и преобразованию мира. Я верю в дизайн и отвергаю  культуру потребления.
                                .case__arrow-wrapper
                                    a(href=route('case') aria-label="Go to case inner page" ).case__arrow.btn-arrow
                                        i.icon-arrow-right

                    article.cases__case.case.case_revert
                        .case__inner
                            a(href=route('case')).case__image
                                picture
                                    source( srcset=require('../img/cases/cases-case-1.webp'), type='image/webp' )
                                    img( src=require('../img/cases/cases-case-4.png') alt="RIVERA VILLAGE" width="414px" height="234px" loading="lazy" )

                            .case__content
                                h4.case__name
                                    a(href=route('case')) RIVERA VILLAGE
                                span.case__line
                                p.case__desc В основе всего этого - любовь к эстетике и преобразованию мира. Я верю в дизайн и отвергаю  культуру потребления.
                                .case__arrow-wrapper
                                    a(href=route('case') aria-label="Go to case inner page" ).case__arrow.btn-arrow
                                        i.icon-arrow-right
