extends layout/default

block title
    title Feel Design - Offer Furniture

block content
    -
      const collections = [
          {
              id: 1,
              name: 'Easy Village',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-1.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png')
              ]
          },
          {
              id: 2,
              name: 'Rivera Village',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-2.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png')
              ]
          },
          {
              id: 3,
              name: 'Creative City',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-6.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png')
              ]
          },
          {
              id: 4,
              name: 'Загаловок Коллекции',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-4.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
              ]
          },
          {
              id: 5,
              name: 'Простая Коллекция',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-3.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png')
              ]
          },
          {
              id: 6,
              name: 'Легкая Коллекция',
              desc: 'Качественный дизайн мебели не нуждается в презентации. Садясь в кресло ты растворяешься и для этого не требуется\n' +
                      'вступительной речи. Произведение искусства плюс безупречная функция\n' +
                      'вот где ты можешь по настоящему почувствовать дизайн.',
              preview: require('../img/collections/collection-img-5.png'),
              slides: [
                  require('../img/collections/collection-img-slide-1.png'),
                  require('../img/collections/collection-img-slide-1.png')
              ]
          }
      ]

    main.page-service-inner


        .container-fluid
            .page-service-inner__head
                picture.page-service-inner__head-image
                    source( srcset=require('../img/services-inner/service-inner-furniture-bg.jpg')  media="(min-width: 1024px)" )
                    img( src=require('../img/services-inner/service-inner-furniture-bg-xs.jpg') alt="" )

                .page-service-inner__head-title Furniture

        section.service-inner
            .container
                .service-inner__content
                    p.
                        Качественный дизайн мебели не нуждается в презентации.
                        Садясь в кресло ты растворяешься и для этого не требуется вступительной речи.
                        Произведение искусства плюс безупречная функция вот где ты можешь по настоящему
                        почувствовать дизайн. Мы проектируем мебель и заботимся о том как снизить углеродный
                        след при производстве. Практикуем *апсайклинг и *ресайклинг подход.
                        Подбираем лучшие компании для сотрудничества разделяющие наши взгляды на
                        вопросы экологии и стремление сделать твою жизнь еще приятнее.

                    p.light
                        i *Ресайклинг <br/>
                        span В переводе с английского ресайклинг означает «процесс производства сырья из вторичных отходов».

                    p.light
                        i *Апсайклинг <br/>
                        span Это процесс переработки старых или выброшенных материалов во что-то полезное и красивое.

        section.collections
            .container
                .collections__inner
                    h3.collections__title Мои коллекции

                    ul.collections__list

                        each collection in collections
                            li.collections__collection.collection
                                a( href="#" data-toggle="modal" data-target='#service-collection-modal-'+ collection.id ).collection__link
                                    .collection__inner
                                        img.collection__image( src=collection.preview alt="")
                                        .collection__desc
                                            .collection__name #{collection.name}
                                            .collection__arrow.btn.btn-arrow-text
                                                span О коллекции
                                                .btn-arrow-text__arrow.is-right
                                                    i.icon-arrow-right

                                .collection__modal.collection-modal(id="service-collection-modal-" + collection.id data-id-collection=collection.id data-send="false")
                                    .collection-modal__wrapper
                                        .container
                                            .collection-modal__inner
                                                a( href="#" data-dismiss="modal" ).collection-modal__close
                                                    span Закрыть
                                                    i.icon-close

                                                h6.collection-modal__title #{collection.name}
                                                p.collection-modal__desc #{collection.desc}

                                                .swiper-container.collection-modal__slider
                                                    .swiper-wrapper

                                                        each slide in collection.slides
                                                            .swiper-slide.collection-modal__slider-slide
                                                                img( src=slide )


                                                    .collection-modal__slider-arrows
                                                        .collection-modal__slider-arrow.slider__arrow.swiper-button-prev
                                                            i.icon-arrow-left

                                                        .collection-modal__slider-arrow.slider__arrow.swiper-button-next
                                                            i.icon-arrow-right

                                                    .slider__pagination.collection-modal__slider-pagination


                                                .collection-modal__btn-wrapper
                                                    .collection-modal__btn.btn.btn-primary-outline( data-toggle="modal" data-target="#modal-order-collection" ) Заказать


                    .collections__btn-wrapper
                        a( href="#" ).collections__btn.btn.btn-underline Показать больше

        include sections/banner

block modal
    include components/modal
    include components/modal-collection
    include components/modal-backdrop
