extends layout/default

block title
    title Feel Design - Offers

block content
    main.page-services
        .container
            h1.page-title.page-services__title Мои Услуги

        picture.page-services__image( data-services-parallax )
            source( srcset=require('../img/image-titles/image-title-services-lg.png') media="(min-width: 1024px)" )
            img( src=require('../img/image-titles/image-title-services-xs.png') alt="")

        section.page-services__services.services
            .container
                .services__inner

                    article.services__service.service
                        .service__inner
                            .service__image
                                img( src=require('../img/services/services-service-1.png') alt="" )

                            .service__content
                                h5 Мебель

                                span.service__line

                                p.service__desc.
                                    Качественный дизайн мебели не нуждается в презентации.
                                    Садясь в кресло ты растворяешься и для этого не требуется вступительной речи.
                                    Произведение искусства плюс безупречная функция вот где ты можешь по настоящему почувствовать дизайн.

                                .service__arrow-wrapper
                                    a.service__arrow.btn-arrow(href=route('service-furniture'))
                                        i.icon-arrow-right

                    .services__spliter

                    article.services__service.service
                        .service__inner
                            .service__image
                                img( src=require('../img/services/services-service-1.png') alt="" )

                            .service__content
                                h5.service__name Интерьер

                                span.service__line

                                p.service__desc.
                                    Пространства окружающие человека влияют на его мироощущение,
                                    настроение и безопасность. Продуманный интерьер повышает качество
                                    твоей жизни. Если каждая деталь органично вписана , а текстуры
                                    гармонично подобраны, дом из строительного объекта перевоплощается
                                    в нечто индивидуальное, в предмет искусства отражающий твою личность.

                                .service__arrow-wrapper
                                    a.service__arrow.btn-arrow(href=route('service-interior'))
                                        i.icon-arrow-right

                    .services__spliter

                    article.services__service.service
                        .service__inner
                            .service__image
                                img( src=require('../img/services/services-service-1.png') alt="" )

                            .service__content
                                h5.service__name Декор

                                span.service__line

                                p.service__desc.
                                    Пространства окружающие человека влияют на его мироощущение,
                                    настроение и безопасность. Продуманный интерьер повышает качество
                                    твоей жизни. Если каждая деталь органично вписана , а текстуры
                                    гармонично подобраны, дом из строительного объекта перевоплощается
                                    в нечто индивидуальное, в предмет искусства отражающий твою личность.

                                .service__arrow-wrapper
                                    a.service__arrow.btn-arrow(href=route('service-decor'))
                                        i.icon-arrow-right

                    .services__spliter

                    article.services__service.service
                        .service__inner
                            .service__image
                                img( src=require('../img/services/services-service-1.png') alt="" )

                            .service__content
                                h5.service__name Свет

                                span.service__line

                                p.service__desc.
                                    Пространства окружающие человека влияют на его мироощущение,
                                    настроение и безопасность. Продуманный интерьер повышает качество
                                    твоей жизни. Если каждая деталь органично вписана , а текстуры
                                    гармонично подобраны, дом из строительного объекта перевоплощается
                                    в нечто индивидуальное, в предмет искусства отражающий твою личность.

                                .service__arrow-wrapper
                                    a.service__arrow.btn-arrow(href=route('service-light'))
                                        i.icon-arrow-right
