mixin footer()
    footer.footer
        .container-fluid
            .footer__inner

                .row.footer__nav-row.no-gutters
                    .col-12.col-md-3.col-lg-2
                    .col-12.col-md-6.col-lg-8
                        nav.footer__nav
                            ul
                                li( class=routeActive('services') ? 'is-active': '' )
                                    a( href=route('services') ) Усуги

                                li( class=routeActive('cases') ? 'is-active': '' )
                                    a( href=route('cases') ) Работы

                                li( class=routeActive('contacts') ? 'is-active': '' )
                                    a( href=route('contacts') ) Контакты

                    .footer__social-media-col.col-md-3.col-lg-2
                        ul.footer__social-media.social-media.social-media_horizontal
                            li
                                a.icon-behance( href="#" target="_blank" )

                            li
                                a.icon-facebook( href="#" target="_blank" )

                            li
                                a.icon-instagram( href="#" target="_blank" )
                                    span.path1
                                    span.path2

                .footer__down
                    .footer__info
                        span.footer__info-copyright <span>© Feeldesign. </span> <span> Все права сохранены.</span>
                        span.footer__info-dev Разработка сайта - <a href="//greatpix.studio/" target="_blank">GreatPix</a> & <a href="//azro.studio/" target="_blank">Azro Studio</a>

                    .footer__contacts
                        a.footer__contact( href="tel:+74957557983" ) +7 495 75 57 983
                        ul.footer__social-media.footer__social-media-contacts.social-media.social-media_horizontal
                            li
                                a.icon-behance( href="#" target="_blank" )

                            li
                                a.icon-facebook( href="#" target="_blank" )

                            li
                                a.icon-instagram( href="#" target="_blank" )
                                    span.path1
                                    span.path2